<nav class="menu-con" role="navigation">
  <div class="menu-con-backdrop">
  </div>
  <div class="menu-con-outer">
    <ul class="menu-con-inner">
      <li><a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/assets/css/images/logo.png" class="logo">
      </a></li>
      <li><a href="{{site.baseurl}}/">
        <div class="menu-con-btn">
          <span>Home</span>
        </div>
      </a></li>
      <li aria-haspopup="true">
        <a href="#">
          <div class="menu-con-btn">
            <span>Research</span>
          </div>
        </a>
        <ul class="dropdown" aria-label="submenu">
          <li aria-haspopup="true">
            <a href="#">Citations & Papers</a>
            <div class="menu-con-mega dropdown" aria-label="submenu">
              <ul>
                <span class="menu-con-mega-header">Transition</span>
                <li><a href="{{site.baseurl}}/research/citations/hrt.html">HRT</a></li>
                <li><a href="{{site.baseurl}}/research/citations/minors.html">Minors</a></li>
                <li><a href="{{site.baseurl}}/research/citations/seniors.html">Older Adults</a></li>
                <li><a href="{{site.baseurl}}/research/citations/research.html">Research</a></li>
                <li><a href="{{site.baseurl}}/research/citations/surgery.html">Surgery</a></li>
                <li><a href="{{site.baseurl}}/research/citations/voice.html">Voice</a></li>
              </ul>
              
              <ul>
                <span class="menu-con-mega-header">Mental Health</span>
                <li><a href="{{site.baseurl}}/research/citations/autism.html">Autism</a></li>
                <li><a href="{{site.baseurl}}/research/citations/brains.html">Brains</a></li>
                <li><a href="{{site.baseurl}}/research/citations/eating-disorder.html">Eating Disorders</a></li>
                <li><a href="{{site.baseurl}}/research/citations/mental-health.html">General Mental Health</a></li>
                <li><a href="{{site.baseurl}}/research/citations/sexuality.html">Sexuality</a></li>
                <li><a href="{{site.baseurl}}/research/citations/addiction.html">Substance Abuse & Addiction</a></li>
                <li><a href="{{site.baseurl}}/research/citations/suicide.html">Suicide</a></li>
              </ul>
              
              <ul>
                <span class="menu-con-mega-header">Physical Health</span>
                <li><a href="{{site.baseurl}}/research/citations/screening.html">Cancer Screening</a></li>
                <li><a href="{{site.baseurl}}/research/citations/cancer.html">Cancer</a></li>
                <li><a href="{{site.baseurl}}/research/citations/fertility.html">Fertility</a></li>
                <li><a href="{{site.baseurl}}/research/citations/genetics.html">Genetics</a></li>
                <li><a href="{{site.baseurl}}/research/citations/gynaecology.html">Gynaecology</a></li>
                <li><a href="{{site.baseurl}}/research/citations/hiv.html">HIV</a></li>
                <li><a href="{{site.baseurl}}/research/citations/intersex.html">Intersex Conditions</a></li>
                <li><a href="{{site.baseurl}}/research/citations/siblings.html">Twins & Siblings</a></li>
                <li><a href="{{site.baseurl}}/research/citations/other-medical.html">Other Medical Conditions</a></li>
              </ul>
                
              <ul>
                <span class="menu-con-mega-header">Living</span>
                <li><a href="{{site.baseurl}}/research/citations/causes.html">Etiology</a></li>
                <li><a href="{{site.baseurl}}/research/citations/identity.html">Gender Identity</a></li>
                <li><a href="{{site.baseurl}}/research/citations/healthcare.html">Healthcare</a></li>
                <li><a href="{{site.baseurl}}/research/citations/legislation.html">Legislation</a></li>
                <li><a href="{{site.baseurl}}/research/citations/military.html">Military</a></li>
                <li><a href="{{site.baseurl}}/research/citations/prisons.html">Prisons</a></li>
                <li><a href="{{site.baseurl}}/research/citations/quality-of-life.html">Quality of Life</a></li>
                <li><a href="{{site.baseurl}}/research/citations/demography.html">Sociodemographics</a></li>
                <li><a href="{{site.baseurl}}/research/citations/sports.html">Sports</a></li>
                <li><a href="{{site.baseurl}}/research/citations/transphobia.html">Transphobia & Discrimination</a></li>
              </ul>
              
              <ul>
                <span class="menu-con-mega-header">Other</span>
                <li><a href="{{site.baseurl}}/research/citations/other.html">Other</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
