<nav role="navigation">
  <ul>
    <li><a href="{{site.baseurl}}/">Home</a></li>
    <li><a href="{{site.baseurl}}/">About</a></li>
    <li aria-haspopup="true">
      <a href="#">Research</a>
      <ul class="dropdown" aria-label="submenu">
        <li aria-haspopup="true">
          <a href="#">Citations & Paper</a>
          <ul class="dropdown" aria-label="submenu">
            <li><a href="{{site.baseurl}}/research/citations/autism.html">Autism</a></li>
            <li><a href="{{site.baseurl}}/research/citations/brains.html">Brains</a></li>
            <li><a href="{{site.baseurl}}/research/citations/screening.html">Cancer Screening</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
